.btn {
    color: #FFFFFF;
    background-color: #019ada;
    border-color: #019ada;
    border-radius: 8px;
}

.jumbotron {
    color: #24519a;
    background-color: #019ada;
    border-color: #019ada;
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav :hover {
    border: none;
    background-color: #000000;
    color: #ffffff;
}

body {
    background: #FFFFFF;
}

.nav {
    background-color: #ffffff;
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;

}

footer {
    font-size: 1.1rem;
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin-top: 1em;
    font-family: 'Jost', sans-serif;
}


.img {
    border-radius: 10px;
}